body,h1,h2,h3,h4,h5,h6,a {
    font-family: 'Hind', "Helvetica", "Arial", sans-serif;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
    padding: 30px 0px;
    margin: 0px;
    color: white;
    background-color: #333;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
    position: relative;
    z-index: 4;
}

h2 {
    text-align: center;
    font-size: 1.5em;
    padding-top: 40px;
    padding-bottom: 20px;
}



.bar {
    padding-bottom: 50px;
    position: relative;
}
.bar div {
    position: relative;
    z-index: 2;
    max-width: 900px;
}
.bar h2{
    background-color: #D82F2F;
    box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.5);
    color: white;
    margin: 0;
    text-shadow: 0px 2px rgba(0,0,0,0.5);
    background-image: url("../img/diagmonds-light.png");
    position: relative;
    z-index: 1;
}

.bar img {
    min-width:100%;
    box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.75);

}
.kicker {
    background-color: #ED5656;
    display: block;
    color: white;
    padding: 10px;
    font-size: .75em;
    text-align: right;
    box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.75);
    position: relative;
    z-index: 3;
}
.return {
    text-shadow: 0px 2px rgba(0,0,0,0.5);
    background-color: #D82F2F;
    background-image: url("../img/diagmonds-light.png");
    box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.5);
    color: white;
    text-align: center;
    font-size: 1.5em;
    padding: 30px 0px;
    display: block;
    position: relative;
    z-index: 1;
}
.tk.name {
    color: #D82F2F;
}

.bar.game h2{
    background-color: #B62869;
}
.return.game {
    background-color: #B62869;
}
.kicker.game {
    background-color: #C74882;
}
.game.name {
    color: #B62869;
}


.bar.school h2{
    background-color: #D8722F;
}
.return.school {
    background-color: #D8722F;
}
.kicker.school {
    background-color: #ED9156;
}
.school.name {
    color: #D8722F;
}


.entry {
    padding: 10px;
}
.name {
    text-align: center;
    font-size: 1.5em;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.details {
    color: #999;
    margin: 20px 20%;
}

.item-preview {
    background-color: #2199e8;
}

.item-preview:hover img {
    opacity: 0.8;
}